* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-green: #1db954;
  --light-green: #1ed760;

  --navbar-color: rgba(0, 0, 0, 1);

  --text-bright-accent: #1ed760;
  --text-base: #2941ab;
}

body {
  font-family: 'Roboto', sans-serif;
}

/***** UTILITY CLASSES *****/

.btn-primary {
  background: var(--text-bright-accent, #117a37);
  color: var(--text-base);
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-primary:hover {
  background: var(--default-green);
  cursor: pointer;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 0px;
}

/***** NAVBAR *****/

#navbar {
  display: flex;
  justify-content: center;

  background-color: var(--navbar-color);
  color: white;

  position: fixed;
  top: 0;
  width: 100vw;
}

#navbar .navbar-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}

#navbar .navbar-container .logo {
  height: 40px;
  width: auto;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;

  font-weight: bold;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
  color: var(--default-green);
  cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

#navbar .navbar-container ul li:nth-child(4),
#navbar .navbar-container ul li:nth-child(5) {
  color: #d9dadc;
}

/***** SHOWCASE *****/

#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background: url('./assets/girl_dancing.jpg') center center/cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color; /* utilizado para dar uma escurecida no background */
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#showcase .showcase-container h2 {
  width: 800px;
  font-size: 120px;
  line-height: 166px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: var(--text-bright-accent, #117a37);
  text-align: center;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;

  color: var(--text-bright-accent, #117a37);
}

/***** FOOTER *****/

#footer {
  background: black;
  color: white;
  padding: 80px 0;
}

#footer .logo {
  height: 40px;
  width: auto;
}

#footer .footer-content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

#footer .footer-content .footer-menu {
  margin: 0 60px;
  list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
  margin: 25px 0;
  transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

#footer .footer-content .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 0.8rem;
}

/***** FOOTER SOCIALS *****/

.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 300ms ease;
}

.socials i:hover {
  color: var(--default-green);
  cursor: pointer;
}

/***** FOOTER INFO *****/

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 80%;
  margin: auto;
  font-weight: bold;

  color: #919496;
  font-size: 0.75rem;
  padding-top: 50px;
}

.footer-info .footer-info-items {
  display: flex;
  list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
  margin: 0 10px;
  transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

.footer-info .rights .country {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.footer-info .rights .country p {
  transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
  color: var(--default-green);
  cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
  height: 20px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}
